.DS_Store
.DS_Store
*.swp
*.~
bin/authd
bin/emulator
bin/gamed
bin/gated
bin/ucd
./pkg
*.pyc
libs/pb/*.pb.go
tags
src/tags
config.git-hash
emulator/protocol/*pb2.py
cache/
*.tmp
.build
*.bz2
logs/
.bin
cfssl/*.json
cfssl/*.csr
cfssl/*.pem
internal/pb/**/*.pb.go
server/game/dispatcher.go
data/*.csv
conf/*.json
conf/**/*.yaml
conf/**/*.json
